* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: rgb(250, 250, 250);
  /*min-height: calc(100vh - 100px);*/
  min-height: 100vh;
}

.frontpage-container h2 {
	margin-bottom: 10px;
}

.frontpage-container img {
  max-width: 800px;
  width: 100%;
  margin-bottom: 10px;
}
