.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
  
}

.create-container button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  min-width: 250px;
  padding: 15px 40px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  font-family: inherit;
}

.create-container button:active {
  transform: scale(0.98);
}

.create-container h2 {
    font-size: 40px;
    padding-top: 10px;
}

.create-form-control {
    margin: 20px 0;
  }
  
  
  
  .create-form-control input {
    width: 94%;
    height: 40px;
    /*margin: 5px;*/
    padding: 3px 7px;
    font-size: 17px;
  }
  
  .create-form-btn {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    /*margin: 5px; */
    border: none;
    /*border-radius: 5px;*/
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-family: inherit;
  }
  
  .create-form-btn:hover {
    background: rgb(7, 153, 7);
    color: #fff;
      transform: scale(1.02);
  }
